@charset "UTF-8";

:root {
    --header-background-color: gray;
    --header-a-color: blue;
    --header-text-color: white;
    --section-border-color: #6dabcf;
    --section-background-color: black;
    --section-p-color: white;
    --section-h2-color: #6dabcf;
}

body {
    margin: 0;
    
}

header {
   
    background: var(--header-background-color);
    color: var(--header-text-color);
    display: flex;
    
    
}

header a {
    text-decoration: none;
    color: var(--header-a-color);
    padding-top: 18px;
    
}

header p {
    flex: 1;
    margin: 0;
    padding: 20px;
}



nav {
    flex-direction: row;
    justify-content: space-between;

}

nav a {
    padding: 20px;
    display: inline-block;
}

section {
    border: 80px solid var(--section-border-color);
    background: var(--section-background-color);
    height: 60vh;
    padding: 20px;
    
    

}

section p {
    color: var(--section-p-color);
   
}

section h2 {
    color: var(--section-h2-color);
   
}