body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 90%;
    padding-top: 30px;
}

section {
    width: 150px;
    height: 150px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}